# Python
*.pyc
*~
__pycache__/

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static files (collectstatic target)
static_root/

# Media files (user uploads)
media/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# IDEs and editors
.vscode/
.history/
*.code-workspace
